.page{
    max-width: 700px;

     color:white; 
    margin-left: 400px;
    /* background-image: "hero-bg.jpg"; */
    /* background-image: "../bg.jpg"; */
    background-color: black;
    
  }
  
  .page h2{
    text-align: center;
    text-shadow: #556b2f 2px solid;
    color:white;
  }
 
  .page h3{
    text-align: center;
    text-shadow: #556b2f 2px solid;
    color:rgb(206, 89, 60)
  }
 